@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

h1{
    color: black;
    text-align: center;
    font-size: 60px;
}

body{
    font-family:'Balsamiq Sans', cursive;
 
}
header{
    display: grid;
    place-items: center;
}


.container{
    margin: 1rem;
}

#noteTitle{
    border-radius: 5px;
    background: #f3f3f3;
    width: 40rem;
    font-family: inherit;
    font-size: 1.8rem;
    border: 1px solid;
}
#noteTitle::placeholder{
    color: black;
}
#noteTitle:focus::placeholder{
    color: transparent;
    transition: 0.4s;
}

#textBox{
    border-radius: 5px;
    resize: none;
    background:#f3f3f3;
    height: 23rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: 1px solid;
}
#textBox::placeholder{
    color: black;
}
#textBox:focus::placeholder{
   color: transparent;
   transition: 0.4s;
}

form{
    display: flex;
    flex-direction: column;
}

#btnSalveaza{
    border-radius: 5px;
    background-color: #ff5f02;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.note-container{
    margin: 2rem auto 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 1.5rem;
}

h2{
    margin: 1rem;
}

.note{
    border: 2px solid;
    padding: 1rem;
}

.note-title{
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.note-body{
    overflow: hidden;
    max-height: 12rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
}

.note-btns{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5rem;
}

.open-btn{
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
}
.delete-btn{
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
}
.edit-btn{
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
}



    
